 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&family=Shalimar&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Poppins', sans-serif;
 }
 
 .wp {
     width: 100%;
     height: 100vh;
     background-color: #fff;
     background-position: center;
     background-size: cover;
 }
 
 .content .logo a {
     color: #fff;
     font-size: 30px;
     font-weight: 600;
 }
 
 .textCol {
     margin-top: 30px;
     color: black
 }
 
 .textCol p {
     color: #664d03;
     font-size: 20px;
     font-weight: 100;
     line-height: 25px;
     padding-top: 10px;
     font-family: 'Pacifico', cursive;
 }
 
 .textCol h1 {
     color: #ffc107;
     font-size: 40px;
     font-family: system-ui;
 }
 
 .spanSecond {
     margin-left: 50px;
 }
 
 .logo {
     width: 70px;
 }
 
 p {
     color: #fff;
     font-size: 15px;
     line-height: 25px;
 }
 
 .nav-link {
     transition: all 0.3s ease;
     border-radius: 5px;
 }
 
 .nav-link:hover {
     color: white;
     border-bottom: 2px solid gray;
     transition: 3s ease;
 }
 
 .cards {
     height: 250px;
     padding: 55px 50px;
     box-sizing: border-box;
     cursor: pointer;
     margin: 5px 10px;
     background-position: center;
     background-size: cover
 }
 
 .navbarG {
     background-color: #f1c235bd;
 }
 
 .card1 {
     background-image: url(../images/Disvol.jpg);
 }
 
 .card2 {
     background-image: url(../images/vol2.jpg);
 }
 
 .card3 {
     background-image: url(../images/vol3_2.jpg);
 }
 
 .card4 {
     background-image: url(../images/vol4.jpg);
 }
 
 .card5 {
     background-image: url(../images/DisV.jpg );
     height: 500px;
 }
 
 .card:hover {
     transform: translateY(-10px);
 }
 
 .rowsCol {
     margin-top: 50px
 }
 
 footer {
     margin-top: 245px;
 }
 
 .backgrounds {
     width: 100%;
     background: #a9a9a9b3;
     background-position: center;
     background-size: cover;
 }
 
 .h1 {
     font-size: 36px;
     color: #555;
     font-weight: bold;
     margin-left: 500px;
 }
 
 h3 {
     font-size: 24px;
     color: #333;
     font-weight: bold;
 }
 
 #team i {
     font-size: 26px;
     color: #555;
 }
 
 #team p {
     font-weight: 550px;
 }
 
 #team .card {
     border-radius: 0;
     box-shadow: 5px 5px 15px #555252;
     transition: all 0.3s ease-in;
     -webkit-transition: all 0.3s ease-in;
     -moz-transition: all 0.3s ease-in;
 }
 
 #team .card:hover {
     background: #555252;
     color: #fff;
     border-radius: 10px;
     border: none;
     box-shadow: 5px 5px 10px #9e9e9e;
 }
 .visitPage .card:hover{
background:rgba(255, 166, 2, 0.774);
 }
 #team .card:hover h3,
 #team .card:hover i {
     color: #fff;
 }

 .caruselImg {
     margin-left: 200px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     margin-top: 20px;
     width: 1000px;
 }
 
 .next {
     right: -26px;
 }
 
 .prev {
     left: -13px
 }
 
 .visually-hidden {
     color: black;
 }
 
 .container {
     margin-top: 20px
 }
 
 .inners {
     box-shadow: 10px 15px 10px 0 rgb(0 0 0 / 75%);
 }
 
 .carousel-indicators {
     left: 0;
     top: auto;
     bottom: -70px;
 }
 
 .carousel-indicators li {
     background: gray;
     border-radius: 50%;
     width: 15px;
     height: 15px;
 }
 
 .carousel-indicators .active {
     background: #000;
 }
 
 .about-us {
     padding: 30px 0;
     background-color: #ececec;
     border-radius: 100px;
     margin-top: 150px;
 }
 
 .about-us .h2 {
     font-size: 35px;
     color: black;
     text-align: center;
 }
 
 .about-us .responsive-paragraph {
     color: #3a3939d6;
     font-weight: bold;
 }
 
 .forms {
     width: 50%;
     margin-left: 25%;
 }
 
 .forms h1 {
     padding-left: 100px;
 }
 
 .videoContainer {
     margin-top: 5%;
 }
 
 .videoContainer h1 {
     margin-bottom: 50px !important;
 }
 
 .play-btn {
     width: 50px;
     position: relative;
     top: -50%;
     cursor: pointer;
     transition: 0.5s;
     opacity: 0;
 }
 
 .imgV:hover .play-btn {
     opacity: 1;
 }
 
 .modal-content {
     background: transparent;
     border: none !important
 }
 
 .section-header {
     position: relative;
     padding-bottom: 10px;
     text-align: center;
     font-weight: bold;
 }
 
 .section-header::after {
     content: "";
     height: 4px;
     width: 100px;
     position: absolute;
     bottom: 0;
     left: 45%;
     background: #fca737;
 }
 
 .testimonial-view {
     max-width: 900px;
     padding: 0 15px 50px;
     margin: 0 auto 70px auto;
     border-radius: 3px;
 }
 
 .block {
     background: #fff;
     color: #333;
     padding: 60px 15px 0;
     margin-left: 15px;
     box-shadow: 0 5px 30px -5px;
     -webkit-box-shadow: 0 5px 30px -5px;
 }
 
 .block .rowsCol {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     place-item: normal;
 }
 
 .user {
     margin-bottom: 120px;
     text-align: center;
 }
 
 .image {
     position: relative;
     margin: 0 15px 30px 15px;
 }
 
 .image>img {
     height: 170px;
     width: 170px;
     border: 7px solid #ffdfb8;
     border-radius: 170px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 }
 
 .user-name {
     font-weight: bold;
     margin-bottom: 10px;
     text-align: center;
     padding-bottom: 10px;
     position: relative;
 }
 
 .user-name::after {
     content: "";
     height: 4px;
     width: 50px;
     position: absolute;
     bottom: 0;
     left: 45%;
     background: #fca737;
 }
 
 .contents {
     text-align: center;
     font-size: 18px;
 }
 
 .prevs,
 .nexts {
     width: 40px;
     height: 40px;
     top: 150px;
 }
 
 .nexts {
     right: -26px;
 }
 
 .prevs {
     left: -13px
 }
 
 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     height: 100px;
     width: 100px;
     outline: black;
     background-size: 100%, 100%;
     border-radius: 50%;
     background-image: none;
 }
 
 .carousel-control-next-icon:after {
     content: '>';
     font-size: 55px;
     color: black;
 }
 
 .carousel-control-prev-icon:after {
     content: '<';
     font-size: 55px;
     color: black;
 }
 
 .teamPhoto {
     margin-left: 350px;
 }
 
 .containers {
     margin-top: 50px;
 }
 
 .containersD {
     background-color: #ffffff;
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
     height: 100%;
     width: 90vw;
     margin: auto;
     margin-top: 30px;
     margin-bottom: 20px;
     display: flex;
 }
 
 .header {
     background: url('../images/Img_13.png');
     background-repeat: no-repeat;
     color: #ffffff;
     display: flex;
     flex: 3;
     flex-direction: column;
     justify-content: space-evenly;
     padding: 3%;
 }
 
 .header h1 {
     position: relative;
     background: #00000061;
     width: 450px;
 }
 
 .header h1::after {
     background-color: #EECDA3;
     content: '';
     position: absolute;
     bottom: -10px;
     left: 0;
     height: 6px;
     width: 30%;
 }
 
 .author {
     display: flex;
     align-items: center;
 }
 
 .author img {
     border-radius: 50%;
     box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.63);
     -webkit-box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.63);
     -moz-box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.63);
     margin-right: 5%;
     height: 100px;
 }
 
 .content {
     background-color: #ffffff;
     flex: 4;
     padding: 1% 2% 3% 2%;
     position: relative;
 }
 
 .text {
     overflow: auto;
     height: 100%;
     color: #616161;
 }
 
 .text h2::first-letter {
     font-size: 100%;
     font-weight: bold;
 }
 
 .info {
     background-color: #ffffff;
     padding: 2%;
     position: absolute;
     width: 100%;
     bottom: 0;
     left: 0;
 }
 
 .info a {
     color: #464646;
     text-decoration: none;
 }
 
 @media screen and (max-width: 800px) {
     .blog-container {
         flex-direction: column;
         height: auto;
     }
 }
 


 .volun{
    font-size:clamp(1.2rem, 5vw, 3rem);
    line-height:100%;
    color: #ffc107;
  }
  
  .containersH{
    display:flex;
    justify-content:center;

    border-radius: 10px;
  }
  
  .words{
    color: #ffc107;
    text-align:right;
    position:relative;
    max-width:150px;
    width:130px;
    
  }
  
  .words > h1{
    animation:show 6s ease infinite forwards;
    position:absolute;
    right:0;
    opacity:0;
    font-size:clamp(1.2rem, 5vw, 3rem);
  }
  
  .words > h1:nth-of-type(2){
    animation-delay:2s;
  }
  
  .words > h1:nth-of-type(3){
    animation-delay:4s;
  }
  
  .cardVolunter {
    border-radius: 20px;
    background: #eeeeee;
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
    border: none
}

.cardVolunter img {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}

.neo-button {
    width: 40px;
    height: 40px;
    outline: 0 !important;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff
}

.neo-button:active {
    border-radius: 50%;
    background: linear-gradient(145deg, #d6d6d6, #ffffff);
    box-shadow: inset 20px 20px 60px #cacaca, inset -20px -20px 60px #ffffff
}


.fa-google {
    color: #dc4e41
}


  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-100%);
    }
    20%{
      opacity:1;
      transform:translateY(0);
    }
    40%{
      opacity:0;
    }
    100%{
      opacity:0;
    }
  } 
  
.Body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1.25rem;
    margin: 1.25rem;
    font-size: 1.25rem;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    list-style: none;
}

.item {
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.thumbnail {
    width: 100%;
    border-radius: 50%;
    animation: spinning 1s linear infinite;
    animation-play-state: paused;
}

.thumbnail:hover {
    animation-play-state: running;
}

.thumbnail:not(:hover) {
    animation: none;
}

@keyframes spinning {
    0% {
         transform: rotateY(0deg);
    }
    100% {
         transform: rotateY(360deg);
    }
}

.person-name {
    text-align: center;
    padding-top: 0.25rem;
    font-size: 1.125rem;
}

.person-email {
    text-align: center;
    font-style: italic;
    color: darkgrey;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

a {
    text-decoration: none;
    text-decoration-color: darkgrey;
    cursor: pointer;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}
